<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
    

  <ion-list>
    <ion-item-sliding *ngFor="let order of orderProvider.inProcessOrders | async">
      <ion-item no-lines (click)="openOrderDetails(order)">
        <ion-avatar class="with-icon" item-start>
          <ion-icon name="md-time"></ion-icon>
        </ion-avatar>
        <h2>#{{ order.id }}</h2>
        <h4>
          <ion-icon name="ios-person"></ion-icon> John Doe
          <span class="extra" *ngIf="order.room">{{ order.room }}</span>
        </h4>
        <div item-end>
          <div class="price">
            Rs. {{ order.total / 100 }}
            <span>PAID</span>
          </div>
          <div text-right class="time">
            {{ order.updatedOn | date:"h:mm a" }}
          </div>

        </div>
      </ion-item>

      <ion-item-options side="left">
        <button ion-button color="secondary" (click)="ready(order)">
          <ion-icon name="md-checkmark-circle-outline"></ion-icon>
          Ready
        </button>
      </ion-item-options>
      <ion-item-options side="right">
        <button ion-button color="secondary" (click)="ready(order)">
          <ion-icon name="md-checkmark-circle-outline"></ion-icon>
          Ready
        </button>        
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>